/* screen - profile */

.profile {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  gap: 97px;
  height: auto; 
  min-width: 1440px;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-bg-1 {
  max-width: 100%;
}

.footer-text {
  text-align: center;
  margin-top: 10px;
  font-size: 24px; 
  color: var(--black);
  font-family: 'Arial', sans-serif; 
  font-weight: bold; 
  text-transform: uppercase; 
  letter-spacing: 2px; 
}

.profile .flex-col {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 0; 
  width: 567px;
}

.profile .overlap-group {
  border-radius: 20px;
  position: relative;
  width: 567px;
  padding: 20px; 
  background-color: var(--black); 
  margin-top: 0; 
}

.profile .content {
  align-items: center;
  background-color: var(--black);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 30px 20px;
  width: 100%;
  height: auto; 
}

.profile .welcome {
  color: var(--white);
  letter-spacing: -0.24px;
  line-height: 36px;
  text-align: center;
  width: fit-content;
}

.profile .field {
  align-items: center;
  background-color: var(--white);
  border: 1px solid var(--bon-jour);
  border-radius: 8px;
  display: flex;
  gap: 16px;
  height: 40px;
  padding: 8px 16px;
  width: 100%;
  cursor: text;
}

.profile .label {
  color: var(--gray);
  display: -webkit-box;
  flex: 1;
  font-weight: 500;
  line-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.profile .i-am-fluent-in,
.profile .i-hope-to-learn,
.profile .and-currently-i-am {
  color: var(--white);
  font-weight: 500;
  line-height: 24px;
  width: 100%;
  margin: 20px 0 10px;
}

.profile .button-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  width: 100%;
}

.profile .fluent-button,
.profile .pill-12 {
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 550;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  border: 1px solid var(--gray);
  background-color: var(--white);
  color: var(--black);
}

.profile .fluent-button:hover,
.profile .pill-12:hover {
  background-color: var(--light-gray);
  border-color: var(--light-gray);
  color: var(--white);
}

.profile .fluent-button.level-active,
.profile .pill-12.fluent-active,
.profile .pill-12.learning-active {
  background-color: var(--black);
  border-color: var(--black);
  color: var(--white);
}

.profile .group-7,
.profile .group-6 {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  width: 100%;
  margin: 10px 0;
  justify-content: center;
}

.profile .group-7 button,
.profile .group-6 button {
  flex: 0 1 calc(50% - 8px); 
}

.profile .pill-2,
.profile .pill,
.profile .pill-3,
.profile .pill-1,
.profile .pill-4,
.profile .pill-5,
.profile .pill-6 {
  background-color: var(--black-haze-2);
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.profile .pill-2:hover,
.profile .pill:hover,
.profile .pill-3:hover,
.profile .pill-1:hover,
.profile .pill-4:hover,
.profile .pill-5:hover,
.profile .pill-6:hover {
  background-color: var(--light-gray);
  border-color: var(--light-gray);
  color: var(--white);
}

.profile .button {
  background-color: var(--gray);
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  border: none;
  border-radius: 8px;
  color: var(--white);
  width: 100%;
}

.profile .button:hover {
  background-color: var(--dark-gray);
  color: var(--white);
}

.profile .button-1 {
  background-color: var(--black);
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  border: none;
  border-radius: 8px;
  color: var(--white);
  width: 100%;
}

.profile .button-1:hover {
  background-color: var(--dark-gray);
  color: var(--white);
}

.profile .fill-in-later,
.profile .continue {
  color: var(--white);
  font-weight: 500;
  line-height: 30px;
  white-space: nowrap;
  width: fit-content;
}

.profile .button-2 {
  align-items: center;
  border-radius: 8px;
  display: flex;
  gap: 8px;
  height: 40px;
  justify-content: center;
  padding: 0px 16px;
  width: 100%;
}

.profile .button-2:hover .continue,
.profile .button-1:hover .fill-in-later {
  color: var(--black);
}
